.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-top: 75px;
    text-align: center;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 4px 22px rgba(95, 95, 95, 0.05);
    transition: .3s;
}
.wrapper:hover {
    box-shadow: 0 4px 22px rgba(95, 95, 95, 0.15);
}
.wrapper:hover .icon {
    background-color: var(--orange);
}
.wrapper:hover .icon img {
    filter: invert(1);
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -75px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: var(--white);
    transition: .3s;
    margin-bottom: 20px;
}
.icon img {
    width: 50%;
    height: 50%;
    transition: .3s;
}
.icon path {
    fill: #343434;
}
.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    .icon {
        background-color: var(--orange);
    }
    .icon img {
        filter: invert(1);
    }
}