.hamburger .line{
    width: 30px;
    height: 3px;
    background-color: var(--dark-gray);
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}

.hamburger_1.is_active .line:nth-child(2){
    opacity: 0;
}

.hamburger_1.is_active .line:nth-child(1){
    -webkit-transform: translateY(11px) rotate(45deg);
    -ms-transform: translateY(11px) rotate(45deg);
    -o-transform: translateY(11px) rotate(45deg);
    transform: translateY(11px) rotate(45deg);
}

.hamburger_1.is_active .line:nth-child(3){
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    -o-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
}