.wrapper a img {
    filter: grayscale(100);
    width: 28px;
    height: 28px;
    transition: .3s ease-in-out;
}
.wrapper a img:hover {
    filter: grayscale(0);
}

@media (max-width: 992px) {
    .wrapper a img {
        width: 36px;
        height: 36px;
    }
}