.items {
    display: grid;
    column-gap: 50px;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 20px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

@media (max-width: 360px) {
    .items {
        grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    }
}