@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-SemiBoldItalic.woff2') format('woff2'),
        url('Exo2-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-ExtraBoldItalic.woff2') format('woff2'),
        url('Exo2-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-BoldItalic.woff2') format('woff2'),
        url('Exo2-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-ExtraBold.woff2') format('woff2'),
        url('Exo2-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-Regular.woff2') format('woff2'),
        url('Exo2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-MediumItalic.woff2') format('woff2'),
        url('Exo2-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-SemiBold.woff2') format('woff2'),
        url('Exo2-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-Italic.woff2') format('woff2'),
        url('Exo2-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-Medium.woff2') format('woff2'),
        url('Exo2-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2';
    src: url('Exo2-Bold.woff2') format('woff2'),
        url('Exo2-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}