.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 22px rgba(95, 95, 95, 0.05);
    transition: .3s;
}
.wrapper:hover {
    box-shadow: 0 4px 22px rgba(95, 95, 95, 0.15);
}

.item:first-child {
    position: relative;
    aspect-ratio: 16/9;
    width: 100%;
}
.item:first-child div {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}
.item:first-child img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item:last-child {
    padding: 24px;
}
.title {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.text {
    font-size: 14px;
    color: var(--medium-gray)
}