.wrapper {
    margin-top: 36px;
    text-align: center;
}
.social_container {
    display: flex;
    gap: 20px
}
.title {
    font-family: 'Exo 2', sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.item:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    row-gap: 28px;
}
.item:last-child {
    padding: 16px 0;
    border-top: 1px solid var(--semi-gray);
    font-size: 14px;
    color: var(--medium-gray)
}