.wrapper a {
    padding: 14px 28px;
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    opacity: .85;
    background: var(--orange-gradient);
    border-radius: 5px;
}

.wrapper a:hover {
    opacity: 1;
    transition: .3s;
}