.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn_wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}
.item {
    display: flex;
    gap: 24px;
    width: 100%;
    margin-bottom: 24px;
}
.item:last-child {
    margin-bottom: 42px;
}

.text_field {
    width: 100%;
}

.text_field__label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    opacity: .9;
}

.text_field__input {
    width: 100%;
    display: block;
    height: 48px;
    padding: 8px 12px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--gray);
    background-color: var(--white);
    border: 1px solid var(--semi-gray);
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.text_field__input::placeholder {
    color: var(--gray);
    opacity: 0.8;
}

.text_field__input:focus {
    color: var(--dark-gray);
    background-color: var(--white);
    border-color: var(--gray);
    outline: 0;
    box-shadow: 0 0 0 4px var(--blue);
}

.text_field__input:disabled,
.text_field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

textarea {
    min-height: 190px;
    resize: none;
}

button {
    padding: 14px 28px;
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
    opacity: .85;
    background: var(--orange-gradient);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:hover {
    opacity: 1;
    transition: .3s;
}

@media (max-width: 768px) {
    .form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .item {
        flex-direction: column;
    }
}