.wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 64px;
    justify-content: center;
}
.item a {
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-gray);
}
.item a:hover {
    color: var(--orange);
}

@media (max-width: 992px) {
    .wrapper {
        column-gap: 32px;
        row-gap: 20px;
    }
    .item a {
        font-size: 18px;
    }
}
@media (max-width: 576px) {
    .item {
        width: 100%;
    }
}