.button {
    position: fixed;
    right: 36px;
    bottom: 36px;
    width: 66px;
    height: 66px;
    background-color: var(--green);
    border-radius: 50%;
    z-index: 10;
    opacity: .6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    opacity: 1;
    box-shadow: 0 4px 22px rgba(95, 95, 95, .15);
}

.button img {
    width: 42px;
    height: 42px;
}